<p>You really should eat <%= mc %> topped with <%= top %> for breakfast with a side of <%= side %>.</p>
<form method="POST" action="/">
    <input type="submit" value="Try Again"/>
</form>
<button id="bigger">Make it bigger</button>