<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Mah Ruby Game</title>
    <link rel="stylesheet" type="text/css" href="/game.css" /> 
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/game.js"></script>
</head>
<body>
    <h1>Mah Ruby Game</h1>
    <%= yield %>
</body>
</html>
